<%- include('header/head.ejs') %>

<body>
  <!-- Header -->
  <%- include('header/navbar.ejs') %>

  <section class="container">
    <h1>Lista Perguntas</h1>

    <% questions.forEach(question => { %>
      <div class="card mb-4">
        <div class="card-header">
          <h3>
            <%= question.title %>
          </h3>
        </div>
        <div class="card-body">
          <p>
            <%= question.describe %>
          </p>
          <p>
            Date: <%= question.createdAt %>
          </p>
          <a href='/question/<%= question.id %>' class="btn bg-success text-light">Responder</a>
        </div>
      </div>
    <% }) %>

    <a href="/ask" class="btn bg-primary text-light me-auto"> 
      Perguntar
    </a>
  </section>
<!-- Footer -->
<%- include('footer/footer.ejs') %>